<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
  <mdb-navbar-brand>
    <a class="navbar-brand" href="welcome">Vegetables App </a>
  </mdb-navbar-brand>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a  [routerLink]="['/welcome']" class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/itemList']" class="nav-link waves-light" mdbWavesEffect>Item List</a>
    </li>
  </ul>
</mdb-navbar>

<div class='card'>
  <div class="card-header text-center" >
    {{pageTitle}}
  </div>
  <div class="card-header">
    <a *ngIf="isMainPage === false"><mdb-icon class="mr-2 mr"  fas type="button" color="elegant" (click)='emitBack()' size="2x" icon="angle-left" mdbWavesEffect></mdb-icon></a>
    <a *ngIf="isAddPage === false" class="float-right" [routerLink]="['/addItem']" floating="true"> <mdb-icon fas icon="plus-square"  size="2x" mdbWavesEffect></mdb-icon></a>
    <a *ngIf="isAddPage === true" class="float-right" floating="true"> <mdb-icon fas icon="trash-alt" (click)='emitClear()' size="2x" mdbWavesEffect></mdb-icon></a>
  </div>
</div>
