<app-navbar [pageTitle]="this.pageTitle" (clickBack)="onBack()"></app-navbar>
<div class='card'>
  <div class='table-responsive'>
    <table class='table'>
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of collection; index as i">
          <td>
            {{item.id}}
          </td>
          <td>
          <a [routerLink]="['/itemDetails', item.id]">{{item.name + "  "}}</a>
          <mdb-icon *ngIf="show !== i" fas icon="angle-left" size="1x" (click)="showItem(i)"></mdb-icon>
          <mdb-icon *ngIf="show === i" fas icon="angle-down" size="1x" (click)="showItem(i)"></mdb-icon>
          <div><a *ngIf="show === i" [routerLink]="['/itemDetails', item.id]">{{item.description}}</a></div>
          <td>
            <a (click)="deleteMe(i)">
              <mdb-icon fas icon="minus" class="float-right mr-5"></mdb-icon>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

