<app-navbar></app-navbar>


<mdb-icon fas type="button" color="elegant" (click)='onBack()' size="2x" icon="angle-left"></mdb-icon>
<div class="card-body">
  <div class="container-fluid">
    <div class="text-center">
 <!-- Material form row -->
<form (submit)="onSubmit()" >
    <!-- Grid row -->
    <div class="form-row">

      <!-- Grid column -->
      <div class="col">
        <!-- Material input -->
        <div class="md-form mt-0">
          <input [(ngModel)]="vegetableName" name="somename" type="text" class="form-control" placeholder="Name">
          <input [(ngModel)]="vegetableDescription" name="somename2" type="text" class="form-control" placeholder="Description">
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
    <div class="form-field">
      <input type="submit" value="Add">
    </div>
</form>
  <!-- Material form row -->
    </div>
  </div>
</div>

